.header{
    color: white;
    font-size: 45px;
    background-size: 100% 300px;
    background-repeat: no-repeat;
    padding-bottom: 350px;
    background-image: url("images/aaaa.jpg");
}

h2{
    color: white;
    text-align: center;
}

div{

    color: black;
    font-size: 34px;
    display: flex;
    align-items: center;
}

.fondo{
    width: 600px;
    height: 300px;
}

img{
    width: 400px;
    height: 300px;
    padding: 0;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 50px;
    margin-left: 257px;
}



footer {
    text-align: center;
    background-color: rgba(163, 110, 11, 0.671);
    color: orange;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

  /* Centered text */
  .centered {
    position: absolute;
    top: 16%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 120px;
  }

